<md-card>
    <md-toolbar class="primary-color">
        <span class="title-font">All Books</span>
    </md-toolbar>
    <md-card-content>

        <!-- book cards -->
        <div class="flex-container">
            <div *ngFor="let book of books">
                <div class="image-card">
                    <a routerLink="{{ '/book/' + book._id }}">
                        <img class="image-card" md-card-image src="{{book.images.smallThumbnailUrl}}">
                    </a>
                </div>
            </div>
        </div>

    </md-card-content>
</md-card>
