<md-card>
  <md-toolbar class="primary-color">
    <span class="title-font">Add a Book</span>
  </md-toolbar>

  <md-card-content>

    <form [formGroup]="searchForm">
      <md-input-container>
        <input type="search" required mdInput placeholder="Enter a title or author" formControlName="search" id="search">
        <md-hint *ngIf="formErrors.search">{{ formErrors.search }}</md-hint>
      </md-input-container>
      <button type="submit" md-raised-button color="primary" (click)="onSearchSubmit()"><md-icon>search</md-icon></button>
    </form>

    <!-- display if currently searching -->
    <div *ngIf="searching == true" class="padding-left-24 padding-bottom-24">
      <md-spinner></md-spinner>
    </div>

    <!-- display if search has been done -->
    <div *ngIf="searchResults != undefined" class="standard-flex" id="results">

      <!-- display if results returned is 0 -->
      <div *ngIf="searchResults.length == 0">
        <h2>No books found! Sorry.</h2>
      </div>

      <!-- display search results -->
      <div class="margin-auto standard-flex flex-1 max-width-198" *ngFor="let result of searchResults">

        <!-- image -->
        <div class="flex-1 padding-top-16 min-width-300">
          <img class="margin-auto display-block" *ngIf="result.volumeInfo.imageLinks != undefined" src="{{ result.volumeInfo.imageLinks.thumbnail }}">
          <img class="margin-auto display-block max-width-128" *ngIf="result.volumeInfo.imageLinks == undefined" src="https://s3.amazonaws.com/andydlindsay-book-trading/book-152-191668.png">
        </div>

        <!-- info -->
        <div class="flex-1 padding-right-24 padding-bottom-16 text-center">
          <h3>{{ result.volumeInfo.title }}</h3>
          <h3 *ngIf="result.volumeInfo.authors != undefined">by {{ result.volumeInfo.authors.join(', ') }}</h3>
          <button md-raised-button color="primary" (click)="addBook(result.id)">Add Book</button>
        </div>

      </div> <!-- search results -->

    </div>

    <!-- display page navigation -->
    <div *ngIf="searchResults != undefined" class="padding-bottom-16">
      <div *ngIf="totalResults > 10" class="standard-flex">
        <span class="app-toolbar-filler"></span>
        <button md-button [disabled]="isFirstPage()" (click)="prevPage()">
          <md-icon>navigate_before</md-icon>Prev Page
        </button>
        <h2>&nbsp;{{ currentPage }}&nbsp;</h2>
        <button md-button [disabled]="isLastPage()" (click)="nextPage()">
          Next Page<md-icon>navigate_next</md-icon>
        </button>
        <span class="app-toolbar-filler"></span>
      </div>
    </div>

  </md-card-content> 
</md-card>
