<div id="nav">
  <md-card>
    <md-toolbar class="title-font">
      <h2 class="title-bar">Book Xchange</h2>
      <span class="app-toolbar-filler"></span>
      <a class="hover-underline" routerLink="/">Home</a>
      <div *ngIf="!isLoggedIn()">
        <span>&nbsp;&nbsp;&nbsp;</span>
        <a class="hover-underline" routerLink="/register">Register</a>
        <span>&nbsp;&nbsp;</span>
        <a class="hover-underline" routerLink="/login">Login</a>
      </div>
      <div *ngIf="isLoggedIn()">
        <span>&nbsp;&nbsp;&nbsp;</span>
        <a class="hover-underline" routerLink="/profile">Profile</a>
        <span>&nbsp;&nbsp;</span>
        <a class="anchor-button hover-underline" (click)="onLogoutClick()">Logout</a>
      </div>
    </md-toolbar>
    <md-card-content>
      <div class="app-content">
        <flash-messages></flash-messages>
        <router-outlet></router-outlet>
      </div>
    </md-card-content>
  </md-card>
</div>
