<!-- TRADE REQUESTS AREA-->
<div class="standard-flex">
    
    <!-- your trade requrests -->
    <div class="flex-1">
        <md-card>
            <md-toolbar>
                <span class="title-font">Your Trade Requests</span>
            </md-toolbar>
            <md-card-content>
                <div *ngIf="!booksRequestedBy.length > 0">
                    <h3 class="text-center title-font padding-bottom-16">You have no outstanding trade requests</h3>
                </div>
                <div *ngIf="booksRequestedBy.length > 0">
                    <div class="standard-flex" *ngFor="let bookRequestedBy of booksRequestedBy">
                        <h3 class="title-font flex-1 padding-left-16">
                            You requested <a routerLink="{{ '/book/' + bookRequestedBy._id }}">{{ bookRequestedBy.title }}</a> from {{ bookRequestedBy.owner.username }}
                        </h3>
                        <span class="app-toolbar-filler"></span>
                        <div class="padding-right-16 padding-top-8 padding-bottom-8 padding-left-16 margin-auto">
                            <button md-raised-button color="accent" class="title-font">Cancel</button>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>

    <!-- trade requests for you -->
    <div class="flex-1">
        <md-card>
            <md-toolbar>
                <span class="title-font">Trade Requests for You</span>
            </md-toolbar>
            <md-card-content>
                <div *ngIf="!booksRequestedFrom.length > 0">
                    <h3 class="text-center title-font padding-bottom-16">You have no outstanding trade requests</h3>
                </div>
                <div *ngIf="booksRequestedFrom.length > 0">
                    <div class="standard-flex" *ngFor="let bookRequestedFrom of booksRequestedFrom">
                        <h3 class="title-font flex-1 padding-left-16">
                            {{ bookRequestedFrom.requestedBy.username }} has requested <a routerLink="{{ '/book/' + bookRequestedFrom._id }}">{{ bookRequestedFrom.title }}</a>
                        </h3>
                        <span class="app-toolbar-filler"></span>
                        <div class="padding-right-16 padding-top-8 padding-bottom-8 padding-left-16 margin-auto">
                            <button md-raised-button color="primary" class="title-font">Accept</button>
                            &nbsp;&nbsp;
                            <button md-raised-button color="accent" class="title-font">Reject</button>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>

</div>

<!-- PROFILE INFO AREA-->
<div class="standard-flex">
    <div class="flex-1">
        <md-card>
            <md-toolbar>
                <span class="title-font">Profile Info</span>
            </md-toolbar>
            <md-card-content>

            </md-card-content>
        </md-card>
    </div>
</div>

<!-- BOOK AREA -->
<md-card>
    <md-toolbar>
        <span class="title-font">Your Books</span>
        <span class="app-toolbar-filler"></span>
        <button md-raised-button color="primary" class="title-font">Add Book</button>
    </md-toolbar>
    <md-card-content>
        <!-- book cards -->
        <div class="flex-container">
            <div *ngFor="let book of books">
                <div class="image-card">
                    <a routerLink="{{ '/book/' + book._id }}">
                        <img class="image-card" md-card-image src="{{book.images.smallThumbnailUrl}}">
                    </a>
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>
