<md-card>
  <md-toolbar><span class="title-font">Register</span></md-toolbar>
  <md-card-content>
    <form [formGroup]="registerForm">
      <md-input-container>
        <input type="text" required mdInput placeholder="Username" formControlName="username" id="username" dividerColor="accent">
        <md-hint *ngIf="formErrors.username">{{ formErrors.username }}</md-hint>
      </md-input-container>
      <md-input-container>
        <input required mdInput type="password" placeholder="Password" formControlName="password" id="password" dividerColor="accent">
        <md-hint *ngIf="formErrors.password">{{ formErrors.password }}</md-hint>
      </md-input-container>
      <button class="title-font" md-raised-button color="primary" (click)="onRegisterSubmit()">Register</button>
    </form>
  </md-card-content>
</md-card>
