/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './theme';

/* media queries */
@media only screen and (max-width: 750px) {
    body {
        margin: 0 !important;
        width: 100% !important;
    }
}

$primary: rgba(62,39,35,0.3);
$accent: rgba(38,50,56,0.15);

/* elements */
html {
    font-family: 'Slabo 27px', serif !important;
}

body {
    font-family: 'Slabo 27px', serif !important;
    margin: auto;
    width: 80%;
    background-color: $accent;
}

md-card-content {
    margin: auto;
    padding: 0px 0px 0px 0px;
}

form {
    padding: 16px 16px 16px 16px;
    margin: 16px;
}

md-toolbar a {
    color: inherit;
    text-decoration: inherit;
}

md-card {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    /*min-width: 326px;*/
}

/* classes */
.primary-color {
    background-color: $primary;
}

.title-bar {
    font-weight: normal;
}

.app-content {
    padding: 10px;
}

.app-content md-card {
    margin: 10px;
}

.app-toolbar-filler {
    flex: 1 1 auto;
}

.app-icon-button {
    box-shadow: none;
    user-select: none;
    background: none;
    border: none;
    cursor: pointer;
    filter: none;
    font-weight: normal;
    height: auto;
    line-height: inherit;
    margin: 0;
    min-width: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /*width: 80%;*/
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.standard-flex {
    display: flex;
    flex-wrap: wrap;
}

.background-none {
    background-color: white;
}

.flex-1 {
    flex: 1 1 auto;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

.flex-6 {
    flex: 6;
}

.mat-input-container {
    width: 100%;
    margin-top: 5px;
    font-size: 1.25em;
    padding-top: 0px;
}

.alert-failure {
    color: white;
    border-radius: 2px;
    padding: 5px 5px 5px 18px;
    margin-bottom: 10px;
    background:#F44336;
    border:1px solid red;
}

.alert-success {
    color: white;
    border-radius: 2px;
    padding: 5px 5px 5px 18px;
    margin-bottom: 10px;
    background:#4CAF50;
    border:1px solid green;
}

.padding-left-16 {
    padding-left: 16px !important;
}

.padding-left-24 {
    padding-left: 24px !important;
}

.padding-right-16 {
    padding-right: 16px !important;
}

.padding-top-8 {
    padding-top: 8px !important;
}

.padding-top-16 {
    padding-top: 16px !important;
}

.padding-top-24 {
    padding-top: 24px !important;
}

.padding-bottom-24 {
    padding-bottom: 24px !important;
}

.padding-bottom-8 {
    padding-bottom: 8px !important;
}

.padding-bottom-16 {
    padding-bottom: 16px !important;
}

.margin-top-0 {
    margin-top: 0px !important;
}

.margin-top-2 {
    margin-top: 2px !important;
}

.margin-top-8 {
    margin-top: 8px !important;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.margin-bottom-8 {
    margin-bottom: 8px !important;
}

.margin-bottom-16 {
    margin-bottom: 16px !important;
}

.margin-top-0 {
    margin-top: 0px !important;
}

.margin-auto {
    margin: 0 auto;
}

.display-block {
    display: block;
}

.min-width-300 {
    min-width: 300px;
}

.min-width-600 {
    min-width: 600px;
}

.max-width-600 {
    max-width: 600px;
}

.max-width-300 {
    max-width: 300px;
}

.max-width-128 {
    max-width: 128px;
}

.max-width-198 {
    max-width: 308px;
}

.max-width-450 {
    max-width: 450px;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.text-center {
    text-align: center;
}

.anchor-button {
    cursor: pointer;
}

.image-card {
    margin-bottom: 15px !important;
    margin-top: 15px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    width: 65%;
}

.mat-input-wrapper {
    font-family: 'Slabo 27px', serif !important;
}

.title-font {
    font-family: 'Slabo 27px', serif !important;
}

.hover-underline:hover {
    text-decoration: underline;
}

/* id's */
#nav {
    /*width: 80%;*/
    margin: auto;
    padding-top: 16px !important;
    font-family: 'Slabo 27px', serif !important;
}

#info-area {
    max-width: 450px;
}
